In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

In [2]:
data = pd.read_csv('data.csv')
data

            id  user_id  venue_id   latitude   longitude           created_at
0       984222    15824      5222  38.895112  -77.036366  2012-04-21 17:43:47
1       984234    44652      5222  33.800745  -84.410520  2012-04-21 17:43:43
2       984291   105054      5222  45.523452 -122.676207  2012-04-21 17:39:22
3       984318  2146539      5222  40.764462 -111.904565  2012-04-21 17:35:46
4       984232    93870    380645  33.448377 -112.074037  2012-04-21 17:38:18
...        ...      ...       ...        ...         ...                  ...
396629  955561   626076     20073  40.850100  -73.866246  2012-04-13 09:56:48
396630  955892   674797      2297  33.748995  -84.387982  2012-04-13 10:56:03
396631  956377   845102     11195  42.765366  -71.467566  2012-04-13 12:08:45
396632  956119  1139114     29488  42.439479  -83.743830  2012-04-13 11:36:44
396633  956733   960666        60  42.331427  -83.045754  2012-04-13 21:56:19

[396634 rows x 6 columns]

In [3]:
data_trunc = data.head(100000)
data_trunc

           id  user_id  venue_id   latitude   longitude           created_at
0      984222    15824      5222  38.895112  -77.036366  2012-04-21 17:43:47
1      984234    44652      5222  33.800745  -84.410520  2012-04-21 17:43:43
2      984291   105054      5222  45.523452 -122.676207  2012-04-21 17:39:22
3      984318  2146539      5222  40.764462 -111.904565  2012-04-21 17:35:46
4      984232    93870    380645  33.448377 -112.074037  2012-04-21 17:38:18
...       ...      ...       ...        ...         ...                  ...
99995  123888  1019078   1105563  33.575000 -117.725556  2011-12-11 05:38:19
99996  124366   771129    329847  37.629349 -122.400087  2011-12-11 04:55:34
99997  125556   804990    254046  29.762884  -95.383061  2011-12-11 06:54:20
99998  127250   526214     34473  32.802955  -96.769923  2011-12-11 10:05:38
99999  127284   290973    280656  37.774929 -122.419415  2011-12-11 08:24:40

[100000 rows x 6 columns]

In [4]:
del data

In [5]:
X = data_trunc[['latitude', 'longitude']]

In [7]:
model = MeanShift(bandwidth=0.1, n_jobs=-1)
model.fit(X)

MeanShift(bandwidth=0.1, n_jobs=-1)

In [13]:
clusters_size = np.unique(model.labels_, return_counts=True)

# indexes of main clusters:
main_clusters = clusters_size[0][np.where(clusters_size[1] > 15)]

In [22]:
# for x in model.cluster_centers_[main_clusters]:
#     print(x[0], x[1])

In [25]:
offices_coords = np.array([
    [33.751277, -118.188740],
    [25.867736, -80.324116],
    [51.503016, -0.075479],
    [52.378894, 4.885084],
    [39.366487, 117.036146],
    [-33.868457, 151.205134]
])

In [33]:
cluster_min_dist = []

for center in model.cluster_centers_[main_clusters]:
    distances_to_offices = np.linalg.norm(center - offices_coords, axis=1)
    
    cluster_min_dist.append(min(distances_to_offices))

In [41]:
closest_clusters20 = sorted(zip(main_clusters, cluster_min_dist), key=lambda x: x[1])[:20]

id_closest_cluster = closest_clusters20[0][0]
id_closest_cluster

420

In [48]:
closest_cluster = model.cluster_centers_[id_closest_cluster]

with open('answer.txt', 'w') as f:
    f.write(str(closest_cluster[0]) + ' ' + str(closest_cluster[1]))