In [1]:
import numpy as np
from scipy import stats

### Вопрос 1
По данным опроса, 75% работников ресторанов утверждают, что испытывают на работе существенный стресс, оказывающий негативное влияние на их личную жизнь. Крупная ресторанная сеть опрашивает 100 своих работников, чтобы выяснить, отличается ли уровень стресса работников в их ресторанах от среднего. 67 из 100 работников отметили высокий уровень стресса. 

Посчитайте достигаемый уровень значимости, округлите ответ до четырёх знаков после десятичной точки.

In [2]:
p_val = stats.binom_test(67, 100, 0.75, alternative='two-sided')
round(p_val, 4)

0.0822

### Вопрос 3
The Wage Tract — заповедник в округе Тома, Джорджия, США, деревья в котором не затронуты деятельностью человека со времён первых поселенцев. Для участка заповедника размером 200х200 м имеется информация о координатах сосен (sn — координата в направлении север-юг, we — в направлении запад-восток, обе от 0 до 200).

Проверим, можно ли пространственное распределение сосен считать равномерным, или они растут кластерами.

Загрузите данные, поделите участок на 5х5 одинаковых квадратов размера 40x40 м, посчитайте количество сосен в каждом квадрате (чтобы получить такой же результат, как у нас, используйте функцию scipy.stats.binned_statistic_2d).

Если сосны действительно растут равномерно, какое среднее ожидаемое количество сосен в каждом квадрате? В правильном ответе два знака после десятичной точки.

In [3]:
import pandas as pd

df = pd.read_csv('pines.txt', sep='\t')
df

        sn     we
0    200.0    8.8
1    199.3   10.0
2    193.6   22.4
3    167.7   35.6
4    183.9   45.4
..     ...    ...
579  169.1  160.0
580  162.5  157.3
581  156.7  155.3
582  154.1  150.8
583   87.7  200.0

[584 rows x 2 columns]

In [4]:
bin_x = 5
bin_y = 5

ret = stats.binned_statistic_2d(df.we, df.sn, None, 'count', bins=[bin_x, bin_y])

In [5]:
ret.statistic

array([[18., 14., 12.,  8.,  7.],
       [26., 12., 24., 19.,  8.],
       [29., 22., 15., 31., 37.],
       [25., 34., 50., 50., 27.],
       [20., 25., 37.,  7., 27.]])

In [6]:
584 / 25

23.36

### Вопрос 4
Чтобы сравнить распределение сосен с равномерным, посчитайте значение статистики хи-квадрат для полученных 5х5 квадратов. Округлите ответ до двух знаков после десятичной точки.

In [7]:
round(stats.chisquare(ret.statistic.flatten(), ddof=0).statistic, 2)

150.59